name: Translations

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths:
      - src/translations/en.json

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Upload Translations
        run: |
          export LOKALISE_TOKEN="${{ secrets.LOKALISE_TOKEN }}"
          ./script/translations_upload_base
